@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f1f1f1;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns:  0.4fr 1fr;
    gap: 20px;
}

.nav{
    border-right: 1px solid lightblue;
}

.text-title{
    text-align: center;
    padding: 0.6em;
}

.links ul{
    display: grid;
    grid-template-rows: repeat(5, 1fr);
}

#menu li{
    padding: 1em;

}

#menu li a{
    color: #000000;
    text-decoration: none;
}

#menu li a:hover{
    color: #2d00aa;
}

#menu li a:visited{
    color: rgb(66, 47, 47);
}

#main-doc{
    overflow: auto;
}

.main-section{
    padding: 3em;
}

.code-lines{
    background-color: #424141;
    color: #13c000;
    padding: 10px;
    border: transparent;
    border-radius: 4px;
    display: block;
}

@media (max-width: 750px){
    .text-title{
        display: none;
    }
}
header{
    text-align: center;
    padding: 0.6em;
}